.card {
    background: #FFFFFF;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.875rem;
}



.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(0);
}




& h3 {
    margin-top: 1rem;
}